<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>

    <!-- FONT LINK -->
    <link href="https://fonts.googleapis.com/css?family=Delius+Unicase|Major+Mono+Display|Open+Sans|Poppins&display=swap" rel="stylesheet">



<!-- BOOTSTRAP LINK -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <style>
    .body {
      background-color: rgb(204, 204, 204);
    }
    </style>
    

<!-----------------    CSS FILES  ------------------->
<link rel="stylesheet" href="css/main.css">
















<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent !important" background-color="transparent">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"  href="#">About <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#jumbotron text-center">Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/danielle-rodriguez-ba7980191/"><i class="fab fa-linkedin"></i>LinkedIn</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="https://docs.google.com/document/d/1F-0NRsanKR0_Rs-wOBvkf0wf1N0dmXXyMTI8EmcF2do/edit?usp=sharing">Resume</a>
              <li class="nav-item">
                  <a class="nav-link" href="https://github.com/drodriguez41">Github</a>
                </li>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
                <i class="fab fa-linkedin"></i>
              </li>
         <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Contact Me
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">LinkdIn</a>
            <a class="dropdown-item" href="#">Resume</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Send Me A Message</a>
          </div> --> 
        <!-- </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contact</a> -->
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> 
      </form> -->
    </div>
  
</nav> 


  
<!--HEADER -->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Danielle Rodriguez</h1>
      <p class="lead">Student at Eleven Fifty Academy. </p>
    </div>
  </div>








     <!-- PAGE 3  -->

<style>
.my-container {
  border: none;

}

.my-row {
  height: 250px;
  border: none;

}

.my-col {
  border: none; 
 
}

.background {
  background-color: #343a40;
}

</style>

<!-- <div class="container my-container"> -->
  <div class="background">
    <div class="row justify-content-around my-row ">



      <div class="col my-col-2">
        
        
      </div>


    

      <div class="col my-col3">
        
        <h1 style="text-align: center" class="text-white">About me.</h1>
      </div>


      <div class="col my-col">
       

      </div>
    </div>


    <div class="row justify-content-right text-white my-row">
      <div class="col my-col-2">
            I am currently attending Eleven Fifty Academy's JavaScript August 2019 program. Prior to my   coding journey, I worked in leasing and Property  Management for over three years. My professional  experience also includes several years in other administrative positions. 
        <p></p>
      </div>


      <div class="col my-col">
         I have always been interested in learning foreign languages - I studied four while in school and have spent time self-teaching a couple of others in my free time. My ability and interest to think in many different ways, and being a detail oriented person with an educational background in Fine Arts, I decided to consider studying how to communicate, not with people, but with computers.
        <p></p>
      </div>
      <div class="col my-col">
         <img src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/57244632_10216078860536889_6800345324620611584_n.jpg?_nc_cat=109&_nc_oc=AQnMRrwQ6yr44xRkonQiN0LC-lhPz9b7UAw97OFwt7Jk4rrAOlHe_Z6F2CrIEQEAt34&_nc_ht=scontent-ort2-2.xx&oh=2e9dddf50cd9a79685caa367203895a0&oe=5E0D067E" alt="profile pic" width="300" height="300" border-radius="50%">
        <p></p>
      </div>
    </div>


    <div class="row justify-content-around my-row">
      <div class="col my-col">
        
        
      </div>


      <div class="col my-col">
        
        
      </div>


      <div class="col my-col">
        
       
      </div>
    </div>
  </div>
</div>


   
      
      <!-- <img src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/57244632_10216078860536889_6800345324620611584_n.jpg?_nc_cat=109&_nc_oc=AQnMRrwQ6yr44xRkonQiN0LC-lhPz9b7UAw97OFwt7Jk4rrAOlHe_Z6F2CrIEQEAt34&_nc_ht=scontent-ort2-2.xx&oh=2e9dddf50cd9a79685caa367203895a0&oe=5E0D067E" alt="profile pic" width="300" height="300">
   -->


  

<!-- ALBUM CODE -->


<header>
    <div class="collapse bg-dark" id="navbarHeader3">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">Skills</h4>
            <p class="text-muted"> </p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Follow on Twitter</a></li>
              <li><a href="#" class="text-white">Like on Facebook</a></li>
              <li><a href="#" class="text-white">Email me</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
          <strong>Album</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
      </div>
    </div>
  </header>
  
  <main role="main">
  
    <section class="jumbotron text-center">
      <div class="container">


<style>
  .text-muted2 {
    top: 70px;
  }
  </style>


        <h1 class="jumbotron-heading1 text-white">My Skills</h1>
        <p class="lead text-muted1"></p>
        <img src="https://www.w3.org/html/logo/downloads/HTML5_Logo_128.png">
        <br>
        <br>
        <br>
        <br>
        
        
        
      
        <h1 class="jumbotron-heading2 text-white">My Projects</h1>
        <p class="lead text-muted2">Below is a collection of the projects I've completed while attending Eleven Fifty Academy. </p>
      </div>
    </section>

    
   
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm my-card">




          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <!-- {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %} -->
              <div class="card" style="width: 18rem;">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/51a4BVcGL2L._SY355_.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Static Layout</h5>
                    <p class="card-text">A recreation of the Hulu homepage.</p>
                    <a href=" https://drodriguez41.github.io/Static-Layout/" class="btn btn-primary">View</a>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
              <img src="https://img.cinemablend.com/filter:scale/quill/4/4/f/7/b/d/44f7bd3c60447f908c4a9a53f4d5b9b4f1110341.jpg?mw=600" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Studio Ghibli Characters</h5>
                <p class="card-text">A webpage that utilizes a Studio Ghibli API. </p>
                <a href="https://drodriguez41.github.io/APIChallenge/" class="btn btn-primary">View</a>
              </div>
            </div>


          <div class="card" style="width: 18rem;">
              <img src="https://s3.amazonaws.com/media.eremedia.com/wp-content/uploads/2018/05/31112343/Codepen.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">CSS Snowman</h5>
                <p class="card-text">A snowman created with CSS. </p>
                <a href="https://codepen.io/drodriguez41/pen/wVprRb
                " class="btn btn-primary">View</a>
              </div>
            </div>



          <div class="col-md-4">
            
              <div class="card-img-overlay"></div>
              <!-- {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %} -->
              
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            
              <!-- {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" %} -->
              
                  
                </div>
              </div>
            </div>
          </div>
       
          <!-- Extra Bigger Buttons with links -->
          <!-- <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
   -->
          
              
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  
  </main>
  
  <!-- <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
       <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
      <p>New to Bootstrap? <a href="{{ site.url }}/">Visit the homepage</a> or read our <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/getting-started/introduction/">getting started guide</a>.</p> -->
    <!-- </div>
  </footer> --> 










  <!-- PAGE 3  -->
<!-- 
<style>
.my-container {
  border: 1px solid green;

}

.my-row {
  height: 250px;
  border: 1px solid red;
}

.my-col {
  border: 3px dotted blue;
}

</style>

<div class="container my-container">
    <div class="row justify-content-around my-row ">



      <div class="col my-col">
        1
        
      </div>


      <div class="col my-col">
        2
        <h1 style="text-align: center">Projects</h1>
      </div>


      <div class="col my-col">
        3

      </div>
    </div>


    <div class="row justify-content-around my-row">
      <div class="col my-col">
        4
        <p>Usu conceptam instructior conclusionemque eu. Tale essent facilis his ne, ei assum aliquip sed. Duo te purto sanctus, ne semper atomorum consequuntur vel, illum dicit omittam sea et. Id nulla percipit fabellas vim, ut sit exerci everti tacimates. Pro cu clita petentium, his abhorreant cotidieque in. Quo in libris disputando. Eum delectus accommodare complectitur at. Vel commodo sapientem et. Dolor iudico vis no. Ea est laudem philosophia.</p>
      </div>


      <div class="col my-col">
        5
        <p>Usu conceptam instructior conclusionemque eu. Tale essent facilis his ne, ei assum aliquip sed. Duo te purto sanctus, ne semper atomorum consequuntur vel, illum dicit omittam sea et. Id nulla percipit fabellas vim, ut sit exerci everti tacimates. Pro cu clita petentium, his abhorreant cotidieque in. Quo in libris disputando. Eum delectus accommodare complectitur at. Vel commodo sapientem et. Dolor iudico vis no. Ea est laudem philosophia.</p>
      </div>
      <div class="col my-col">
        6
        <p>Usu conceptam instructior conclusionemque eu. Tale essent facilis his ne, ei assum aliquip sed. Duo te purto sanctus, ne semper atomorum consequuntur vel, illum dicit omittam sea et. Id nulla percipit fabellas vim, ut sit exerci everti tacimates. Pro cu clita petentium, his abhorreant cotidieque in. Quo in libris disputando. Eum delectus accommodare complectitur at. Vel commodo sapientem et. Dolor iudico vis no. Ea est laudem philosophia.</p>
      </div>
    </div>


    <div class="row justify-content-around my-row">
      <div class="col my-col">
        7
        
      </div>


      <div class="col my-col">
        8
        
      </div>


      <div class="col my-col">
        9
       
      </div>
    </div>
  </div>
 
= CONTACT -->

<div id="contact">
    <div class="container">
        <h2 class="text-white">Contact Me</h2>
        <br>

<style>
 #contact {
  background-color: #343a40;
} 
  </style>

        <div class="row">
            <div class="col-12">
<form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/danielle.rodriguez.041@gmail.com" method="post">
    <fieldset id="fs-frm-inputs">


      <!-- <style>
        .form-group {
          background-color: grey;
        }
        </style> -->
        <div class="form-group">
      <label for="full-name"></label>
      <input class="form-control" name="name" id="full-name" placeholder="Your Name" required="">
        </div>



    <div class="form-group">
      <label for="email-address"></label>
      <input class="form-control" name="_replyto" id="email-address" placeholder="Your Email" required="">
    </div>



    <div class="form-group">
      <label for="message"></label>
      <textarea class="form-control" name="message" id="message" placeholder="Your Message" required=""></textarea>
      <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
      </div>


    </fieldset>
    <!-- <input type="submit" value="Submit"> -->

    <div class="text-center"></div>
    <button type="submit" class="btn btn-outline-dark">Send Message</button>
  </form>
<br>
<br>
</div>
</div>
</div>
</div>



<!-- FOOTER -->



<footer class="page-footer">
    <div class="container">
      <!-- <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"></h5>
          <p class="grey-text text-lighten-4"></p>
          
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div> -->
    <div class="footer-copyright">

<style>
  .footer-copyright {
    color: white; 
  }
  </style>

      <div class="container">
      © 2019 Danielle Rodriguez
      <a class="text-white right" href="#!"></a>
      </div>
    </div>
  </footer>





<!-- <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p> -->
      <!-- <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
      <p>New to Bootstrap? <a href="{{ site.url }}/">Visit the homepage</a> or read our <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/getting-started/introduction/">getting started guide</a>.</p> -->
    <!-- </div>
  </footer> -->



<!-- JS FILE -->
    <script src="js/main.js"></script> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>







<style>
    .body {
      background-color: rgb(73, 73, 73);

    }
    
    </style>





</body>
</html>